#subNavHeader {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: sticky;
    top: 7%;
    width: 100%;
    z-index: 10000;
    margin-bottom: 5%;
}

#subNavHeader a {
    color: inherit;
    text-decoration: none;
}

#subNavHeader ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding-left: 0;
}

#subNavHeader ul li {
    display: inline-block;
    padding-left: 0;
}

#subNavHeader .subNav {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    height: inherit;
    line-height: inherit;
    overflow: hidden;
    padding-left: 1.5em;
}

#subNavHeader .subNav ul li {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    line-height: 1;
    margin-left: 1em;
    padding-left: 1em;
}

#subNavHeader .subNav ul li:last-child {
    border-right: solid 1px rgba(160, 160, 160, 0.3);
    padding-right: 1em;
}

#subNavHeader .subNav ul li a {
    border-bottom: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}